<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<section class="position-top">
  <form action="/login" method="POST">
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email">
    </div>
    <div>
      <label for="pass">Password: </label>
      <input type="password" name="password" id="pass">
    </div>
    <button>Login</button>
  </form>
  <br>
  <h5>or</h5>
  <h4>Do not have a account <span><a href="/register">Signup</a></span> Now!</h4>
</section>









<%-include('../partials/footer')%>